<div class="flex items-center justify-between p-8 pb-0">
  <div class="flex items-center  bg-white rounded-lg  border-2 border-[#3c8dbc]" x-data="{ search: '' }">
    <div class="w-full">
        <input type="search" class="w-full px-4 py-1 text-gray-800 rounded-full focus:outline-none"
            placeholder="search" x-model="search">
    </div>
    <div class="px-2 py-1 bg-[#3c8dbc] ">
        <button type="submit" class="flex items-center bg-blue-500 justify-center w-12 h-12 text-white rounded-r-lg"
            :class="(search.length > 0) ? 'bg-purple-500' : 'bg-gray-500 cursor-not-allowed'"
            :disabled="search.length == 0">
            <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
        </button>
    </div>
</div>
<div class="cursor-pointer">
  <button class="bg-[#3c8dba] px-2 py-1 mx-[1px] rounded-md text-white">
    <i class="fa fa-plus"></i>
  </button>
  <button class="bg-[#3c8dba] px-2 py-1 mx-[1px] rounded-md text-white">
    <i class="fa fa-edit"></i>
  </button>
  <button (click)="showViewForm()" class="bg-[#3c8dba] px-2 py-1 mx-[1px] rounded-md text-white">
    <i class="fa fa-eye"></i>
  </button>

</div>
</div>
  <section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-x-auto shadow-lg">
      <table class="w-full text-left table-auto min-w-max rounded-lg">
        <thead class="bg-[#3c8dbc] text-[#FFF]">
          <tr class="border-b-1 border-b-gray-500 shadow-md ">
            <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50 border border-l-white border-r-white ">
              <p class="block font-sans text-sm antialiased font-semibold leading-normal text-blue-gray-900 ">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="w-4 h-4 fill-white" >
                  <path
                    d="M151.6 469.6C145.5 476.2 137 480 128 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L96 365.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V365.7l32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 480c-17.7 0-32-14.3-32-32s14.3-32 32-32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H320z" />
                </svg>
              </p>
            </th>
            <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50 border border-l-white border-r-white "
              *ngFor="let header of Wirelessformdatatableheader">
              <p class="block font-sans text-sm antialiased font-semibold leading-none text-blue-gray-900 ">
                {{header.columnLabel}}
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="even:bg-gray-400/15" *ngFor="let group of Wirelessformdatatabledata   | paginate: {itemsPerPage:8,currentPage:p};">
            <td class="p-4 ">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                <label class="relative flex items-center justify-center p-3 rounded-full cursor-pointer" htmlFor="check">
                  <input type="checkbox" 
                    class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-[#3c8dbc] transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-[#3c8dbc] checked:bg-[#3c8dbc] checked:before:bg-[#3c8dbc] hover:before:opacity-10 radio" 
                    id="check" />
                  <span
                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-3.5" viewBox="0 0 20 20" fill="currentColor"
                      stroke="currentColor" stroke-width="1">
                      <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </span>
                </label>
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.sequenceNumber}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib1}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib13}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib15}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib16}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib17}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib31}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib32}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib33}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib34}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.approvalStepName}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib19}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib20}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib61}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib62}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib70}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.attrib734}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.formattedSubmittedBy}}
              </p>
            </td>
            <td class="p-4">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{group.createdOn}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- pagination  starts Here-->
    <div class="flex justify-end">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <!-- pagination  ends Here-->
  </section>
  <!-- modal code start -->
<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Terms of Service
                </h3>
                <button (click)="CloseModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
              <div id="newTemplateDataShow"></div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button (click)="CloseModal()" data-modal-hide="default-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                <button (click)="CloseModal()" data-modal-hide="default-modal" type="button" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
            </div>
        </div>
    </div>
</div>

  <!-- modal code end -->